<!-- <h6 class="dark font-weight-medium" *ngIf="showAverage">
    3.0 Averge
</h6>
<div *ngIf="type === 'icon'">
    <star-rating value="1" totalstars="{{totalStars}}" checkedcolor="#777777" uncheckedcolor="#ffffff" size="24px" [readonly]="readonly" (rate)="onRate($event)"></star-rating>
</div>

<div *ngIf="type === 'bar'" class="wrapper d-flex flex-column">
    <div class="d-flex align-items-center" *ngFor="let star of stars">
        <div class="text mr-2">5 Stars</div>
        <div class="progress mr-2">
            <div class="progress-bar" role="progressbar" style="width: 20%"></div>
        </div>
        <div class="text mr-2">19</div>
    </div>
</div>
 -->
