<!-- <div class="header d-flex align-items-center">
    <h6 class="font-weight-bold p-header mb-0 mr-2">Person Name</h6>
    <app-rating [readonly]="true" [type]="'icon'"></app-rating>
    <small class="ml-2">5.5</small>
</div>
<div class="p-body">
    <p>
        Panadol Extra Advance Tablets are formulated to provide effective blets contain two active ingr
        Panadol Extra Advance Tablets are formulated to provide effective pain elief and help to reduce
        edient. Paracetamol is a pain reliever and caffeine acts to further amplify the pain the ting in the.
    </p>
</div> -->
<h4 class="font-weight-bold">By Guest User</h4>
<small>On 22 November 2020</small>
<p class="font-weight-bold mt-3 mb-0">Lorem ipsum dolor sit, amet consectetur</p>

