<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <img src="assets/media/mobile-app.png" class="img-fluid">
            </div>

            <div class="col-12 col-lg-6 mb-5 mb-lg-0 d-flex flex-column justify-content-center">
                <h2 class="font-weight-bold mb-3 dark">{{"download_agzza_app"|translate}}</h2>
                <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                <div class="d-flex mt-5 ml-0 ml-lg-3">
                    <div class="bg d-flex justify-content-between align-items-center mx-2">

                        <fa-icon [icon]="faApple" class="mx-2"></fa-icon>
                        <div>
                            <p class="down font-weight-bold m-0">Download on the</p>
                            <h3 class="app font-weight-bold mb-0">App Store</h3>
                        </div>
                    </div>
                    <div class="bg d-flex justify-content-between align-items-center">

                        <fa-icon [icon]="faGooglePlay" class="mx-3"></fa-icon>
                        <div>
                            <p class="down font-weight-bold m-0">Android App on</p>
                            <h3 class="google font-weight-bold mb-0">Google Play</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>