* {
    font-size: 1.4rem;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--marine-blue);
}

::ng-deep .mat-checkbox-layout {
    display: block !important;
    height: 2rem;
}

::ng-deep .mat-checkbox-frame {
    border-color: #c4c4c4 !important;
}

::ng-deep .mat-expansion-indicator::after {
    margin-right: 5px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

::ng-deep .mat-ripple {
    display: none;
}

.mat-expansion-panel-header {
    height: 2rem !important;
    padding: 0;
}

.mat-expansion-panel-header-title {
    color: var(--marine-blue);
}