<div class="d-flex justify-content-center align-items-center mb-4 mt-4">
    <button *ngIf="currentPage > 1" class="pagination-btn" mat-flat-button>
        <fa-icon [icon]="faChevronLeft"> </fa-icon>
    </button>
    <button color="primary" mat-flat-button>1</button>
    <button mat-flat-button>2</button>
    <button mat-flat-button>3</button>
    <button mat-flat-button>4</button>
    <button mat-flat-button>10</button>
    <button class="pagination-btn" mat-flat-button>
        <fa-icon [icon]="faChevronRight"> </fa-icon>
    </button>
</div>