<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="dark font-weight-bold">
                {{"forgot_password"|translate}}
            </h2>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card">
                <form [formGroup]="forgetPasswordForm" (submit)="submit()">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="dark font-weight-bold my-2">{{'email'|translate}}</label>
                            <input formControlName="email" type="email" class="form-control"  placeholder="{{'email'|translate}}">
                            <ng-container *ngIf="forgetPasswordForm.controls?.email.touched && forgetPasswordForm.controls?.email?.errors">
                                <div class="invalid-feedback my-2"
                                    [class.d-block]="forgetPasswordForm.controls?.email?.errors?.required">
                                    {{"email_is_required"|translate}}
                                </div>
                                <div class="invalid-feedback my-2"
                                    [class.d-block]="forgetPasswordForm.controls?.email?.errors?.email || forgetPasswordForm.controls?.email?.errors?.pattern">
                                    {{"please_enter_a_valid_email_address"|translate}}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group d-flex justify-content-end mb-0">
                            <button class="float-right" [disabled]="!forgetPasswordForm.valid" color="primary" mat-button type="submit">
                                {{"submit"|translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>