<div class="container">

    <div class="row mb-4">
        <div class="col-12">
            <app-breadcrumbs [segments]="'Home_ContactUs'|translate"></app-breadcrumbs>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="dark font-weight-bold">{{"contact_us"|translate}}</h2>
        </div>
    </div>


    <hr>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27609.682679206933!2d31.25001138955078!3d30.116794249999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1584457387287!5m2!1sen!2seg"
        width="600" height="450" class="w-100 pt-3" frameborder="0" style="border:0;" allowfullscreen=""
        aria-hidden="false" tabindex="0"></iframe>

    <div class="row pt-4">
        <div class="col-lg-8 col-md-6 ">
            <input type="text" class="form-control mb-3" placeholder="{{'user_name'|translate}}">
            <input type="text" class="form-control mb-3" placeholder="{{'email'|translate}}">
            <input type="text" class="form-control mb-3" placeholder="{{'phone_number'|translate}}">
            <textarea placeholder="{{'write_your_message'|translate}}" class="p-2"></textarea>
            <button mat-button type="button" class="float-right my-5  py-2 text-white">{{"save"|translate}}</button>
        </div>
        <div class="col-lg-2 col-md-3">
            <img src="assets/media/head.jpg">
            <h2 class="dark font-weight-bold">{{'email'|translate}}</h2>
            <div class="brdr"></div>
            <p class="lorem">info@agzza.com</p>
        </div>
        <div class="col-lg-2 col-md-3">
            <img src="assets/media/c2.jpg" class="tele">
            <h2 class="font-weight-bold">{{'phone_number'|translate}}</h2>
            <div class="brdr"></div>
            <h4 class="dark font-weight-bold">Cairo</h4>
            <p class="num">0222912247</p>
            <!-- <h4  class="dark font-weight-bold">Giza</h4>
            <p  class="num">01152857691</p>
            <h4  class="dark font-weight-bold">Alex</h4>
            <p  class="num">01152857691</p> -->
        </div>

    </div>
</div>-->