

/*about cooklee*/
.hrline{
    width: 170px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top:1px solid transparent;
    margin-bottom: 30px;
}








/*new chef cook 


button {
    background-color: rgb(255, 198 , 40);
   // border-radius: 0.5rem;
    border: 1px solid transparent;
    padding-left: 4rem;
    padding-right: 4rem;
    
}


::placeholder {
    color: var(--light-grey);
    padding :8px;
}



end new cook chef */









/*.home{font-size: 17px;
    color:rgb(220 ,220, 220);}
h2 {
   
    margin: 35px 0px 20px;
    color: var(--marine-blue);
}
h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 25px 0px 15px;
    color: var(--marine-blue);
}

.nav{display: flex;
    justify-content: space-between;
    color: var(--marine-blue);}
.nav a {  color: var(--marine-blue);font-weight: 500;
         font-size:20px;}
.card{border:1px solid transparent;}    
.nav-link {padding: 0px !important;
margin-bottom: 30px}
.tabBorder{border : 4px solid var(--marine-blue);}
.ball{width: 30px;
    height: 30px;
    background: var(--marine-blue);
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 7px;}
.ballone{width: 30px;
        height: 30px;
        background: var(--marine-blue);
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: -1px;}
.ballast{width: 30px;
            height: 30px;
            background: var(--marine-blue);
            border-radius: 50%;
            position: absolute;
            top: -20px;
            left: 20px;}

.active span {width: 18px;
    height: 18px;
    background: var(--light-green);
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;}       */     

//.tab-pane p {background:blue !important; color :black !important;}