img {
    width: 10rem;
}

button {
    background-color: var(--marine-blue);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-size: 1.3rem;
    width: 30rem;
}

p {
    font-size: 1.25rem;
    width: 30rem;
    margin: auto;
}