.home {
    font-size: 17px;
    color: rgb(220, 220, 220);
}

img {
    width: 250px;
    height: 250px;
    padding: 0px 10px;
}

.brand {
    min-height: 18rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.7rem;
    cursor: pointer;
}